
<div class="wrapper">
    <div class="logo">
        <img src="../../../assets/transporterManagmentLogo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Transport Managment
    </div>
    <form class="p-3 mt-3"  #form="ngForm" (ngSubmit)="login()">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input #userName type="text"  [(ngModel)]="user.userName" required name="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input #email type="email"   [(ngModel)]="user.email" required  name="email" placeholder="Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" id="password" [(ngModel)]="user.password" required name="password" placeholder="Password">

        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="">Forget password?</a> or <a href="">Sign up</a>
    </div>
</div>